---
// src/layouts/BaseLayout.astro
import "../styles/global.css";

import { Toaster } from "@/components/ui/sonner";

interface Props {
  title?: string;
  description?: string;
}

const { title = 'FYC', description = 'Sistema de Gestão de Brechó' } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Brechó System</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href="/logo-fyc-sem-fundo.png" />
  </head>
  <body class="min-h-screen bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100">

      <slot />
      <Toaster client:idle />
  </body>
</html>