---
import "../styles/global.css";
import BaseLayout from './BaseLayout.astro';
import Sidebar from '../components/Sidebar';

interface Props {
  userType?: 'admin' | 'fornecedor';
}

const { userType = 'admin' } = Astro.props;


// Obter a rota atual
const currentPath = Astro.url.pathname;
---

<BaseLayout>
    <div class="flex max-w-[1400px] mx-auto h-screen">
      <Sidebar client:idle userType={userType} />
      <main class="flex-1 overflow-y-auto ">
        <section class="p-8 mr-4 h-auto ">
          <slot />
        </section>
      </main>
    </div>
</BaseLayout>
